<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Prep'App</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>22</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>segoe.ttf</string>
		<string>timer.ttf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>training</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Entraînement</string>
			<key>UIApplicationShortcutItemType</key>
			<string>training</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>solo</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Défi</string>
			<key>UIApplicationShortcutItemType</key>
			<string>solo</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>leaderboard</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Classement</string>
			<key>UIApplicationShortcutItemType</key>
			<string>leaderboard</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>newsfeed</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Actualités</string>
			<key>UIApplicationShortcutItemType</key>
			<string>newsfeed</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
